.contactMain {
  width: 95%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.contactCard {
  width: 90%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 50px -10px;
  border-radius: 20px;
  margin-bottom: 100px;
}
.contactCard h4 {
  font-size: 35px;
  color: #883cd4;
  font-weight: 600;
}

.contactCard p {
  font-size: 16px;
  margin-bottom: 0;
}
.contactCard h5 {
  margin-top: 0;
}
