.navbar {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
  background: linear-gradient(90deg, #8e2de2 0%, #4a00e0 100%);
  animation: fadeInBarMain ease 0.6s;
}

@keyframes fadeInBarMain {
  0% {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
  100% {
    box-shadow: none;
  }
}

.nvbScroll {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
  background: linear-gradient(90deg, #8e2de2 0%, #4a00e0 100%);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  animation: fadeInBar ease 0.4s;
}

@keyframes fadeInBar {
  0% {
    box-shadow: none;
  }
  100% {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
}

.navbarInner {
  width: 95%;
  max-width: 1200px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
}
.navLogo {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 25px;
}

.navLogo div img {
  object-fit: contain;
  object-position: center;
}

.navbarLeft {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
}

.navbarLeft h1 {
  font-weight: 500;
  height: fit-content;
  font-size: 16px;
  margin-top: 30px;
  color: white;
}

.navLinks {
  display: flex;
  list-style: none;
}

.navLinks li {
  color: white;
  font-weight: 500;
  margin: 0 15px;
  cursor: pointer;
  font-size: 14px;
}

.navLinks a:last-child li {
  margin-right: 0;
}

.mobileMenu {
  display: none;
}

@media only screen and (max-width: 600px) {
  .navbar {
    height: 80px;
  }

  .navbarInner {
    height: 80px;
    width: 100%;
    padding: 0 10px;
    position: relative;
  }

  .nvbScroll {
    height: 80px;
  }

  .navLinks {
    display: none;
  }

  .mobileMenu {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mobileMenu svg {
    color: white;
    width: 30px;
    height: auto;
  }

  .mobileNavLinks {
    position: absolute;
    left: 0;
    top: 80px;
    list-style: none;
    /* border-top: 2px solid rgb(255, 255, 255); */
    border-bottom: 2px solid rgb(255, 255, 255);
    background: linear-gradient(90deg, #8e2de2 0%, #4a00e0 100%);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    width: 100%;
    height: 230px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    animation: fadeIn ease 0.4s;
  }

  .mobileNavLinks li {
    color: white;
    width: 92.5%;
    padding: 12.5px 0;
    font-size: 14px;
    text-align: center;
    border: 1px solid white;
    margin: 5px auto;
    border-radius: 5px;
  }

  @keyframes fadeIn {
    0% {
      left: -50px;
      opacity: 0;
    }
    100% {
      left: 0;
      opacity: 1;
    }
  }
}
